        {{#if loggedIn}}
        <div class="addComment">
            <button id="commentBtn" class="postBtn">Add Comment</button>
        </div>
        {{else}}
        <div class="addComment">
            <p><a href="/login" id="loginLink">Log in</a> to add a comment</p>
        </div>
        {{/if}}
<div class="blogPage">
    <div class="blog-container" data-id={{id}}>
        <div class="blog-content">
            <div class="blog-post">
                <h2 class="blogTitle">{{title}}</h3>
                <p class="blogContent">{{content}}</p>
            </div>
        </div>
</div>
<div>
    <div class="comment-container">
        <div class="comment-header">
            <h3 class="commentsHeader">Comments</h3>
        </div>
        <div class="comment-content">
                {{#each comments as |comment|}}
                <div class="comment">
                    <p class="commentText">{{comment.comment}}</p>
                    <small class="text-muted commentAuthor">Posted by {{comment.user.username}} on {{format_date comment.createdAt}}</small>
                </div>
                {{/each}}
    </div>
<div class="modal" id="commentModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="commentForm">
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control" id="comment" rows="3" placeholder="Type your comment, max 255 characters."></textarea>
            </div>
            <button type="submit" class="btn btn-primary postBtn" id="addCommentBtn">Submit</button>
        </form>
    </div>
<script src="/js/blog.js"></script>